.mainNavColor {
    background-color: #b9b9b952;
}

.subMenu {
    float:right;
    padding-top: 2%;
    color: black !important;
    text-decoration: none !important;
}

.divider {
    color: #efebeb14 !important;
}

dropdownMenu {
    color: #efebebbd !important;
    border-radius: 0.25rem !important;
}

.marginBottom10 {
    margin-bottom: 2%;
}