.pvsForm {
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.075);
    border-width: thin;
    padding: 1em;
    width: auto;
    height: auto;
}

.title {
    font-size: 28px;
    font-weight: 700;
    padding: 1%;
    display: inline-block;
}